<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileInfo" value="Northwind.xlsx"/>
    <add key="Worksheet" value="Products"/>
    <add key="Worksheet2" value="Duplicates"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>